*__pycache__
*node_modules
/POS/backend/transactions


/TastyTation/backend/classifiers/*/
/TastyTation/backend/dataset
/TastyTation/backend/dataset_verifier/inconsistent_annotations.json
/TastyTation/backend/detection_model/training
/TastyTation/backend/general_model_annotator/annotations
/TastyTation/backend/general_model_annotator/new_data
/TastyTation/backend/general_model_annotator/rembg_cropped_images
/TastyTation/backend/general_model_annotator/tmp_dataset
/TastyTation/backend/runs
