/demo
/dataset
*__pycache__
*node_modules
/POS/backend/transactions
*.png
*.jpg
*.txt
*.mp4
/TastyTation/backend/dataset
/TastyTation/backend/general_model_annotator/annotations
/TastyTation/backend/general_model_annotator/new_data
/TastyTation/backend/general_model_annotator/rembg_cropped_images
/TastyTation/backend/general_model_annotator/tmp_dataset
/TastyTation/backend/runs
*.pt
/train/general_model/runs